/*Centers title on homepage*/
body {
    margin: 0;
    height: 100vh; /*vh = viewport height*/
    background-color: #03110D;
    position: relative; /*For absolute positioning*/
}

h1 {
    font-family: Georgia, serif;
        font-size: 5rem;
        color: white;
        text-align: center;
        margin-top: 40px;
}

/*Fade in animation*/
.fade-in {
    opacity: 0; /*Starts invisible*/
    animation: fadeIn 1s ease-in forwards; /*1s fade-in*/
}

/*Keyframes for heading fade-in*/
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Keyframes for button fadein*/
@keyframes fadeUp {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*Button Animation*/
button {
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
    transition: all 0.2s ease;
    /*Button Size*/
    width: 150px;
    height: 50px;
    font-size: 12px;
}
button:active {
    transform: scale(0.96);
}

/*Button Alignment*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 1.5s;
}

/*Button Colors & Glow*/
.bio {
    background: #390517;
    box-shadow: 0 0 5px #390517, 0 0 25px #390517;
}
.bio:hover {
        box-shadow: 0 0 5px #390517, 0 0 25px #390517, 0 0 5px #390517, 
            0 0 100px #390517, 0 0 200px #390517;
}
.projects {
    background: #A38560;
    box-shadow: 0 0 5px #A38560, 0 0 25px #A38560;
}
.projects:hover {
        box-shadow: 0 0 5px #A38560, 0 0 25px #A38560, 
            0 0 5px #A38560, 0 0 100px #A38560, 0 0 200px #A38560;
}
.contacts {
    background: #16302B;
    box-shadow: 0 0 5px #16302B, 0 0 25px #16302B;
}
.contacts:hover {
        box-shadow: 0 0 5px #16302B, 0 0 25px #16302B, 
            0 0 5px #16302B, 0 0 100px #16302B, 0 0 200px #16302B;
}
.other {
    background: #BB6830;
    box-shadow: 0 0 5px #BB6830, 0 0 25px #BB6830;
}
.other:hover {
        box-shadow: 0 0 5px #BB6830, 0 0 25px #BB6830, 
            0 0 5px #BB6830, 0 0 100px #BB6830, 0 0 200px #BB6830;
}

/*Text Color*/
p {
   color: #E0E0E0;
   text-align: center;
}

.animate {
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 1s;
}
